[Unit]
Description=SSH port forwarding to server with public IP

[Service]
ExecStart=/bin/sh -l -c 'ssh -NR 35760:localhost:22 web.ccns'
Restart=always