/* this work for firefox v74 */
:root{
  --hide-toolbar-top:-70px;
  --hide-toolbar-open: 0s;
  --hide-toolbar-close: 0.5s;
  --hide-toolbar-dur: 0.1s;
}
/*全畫面上移*/
/*#navigator-toolbox {
  margin-top: calc(var(--hide-toolbar-top) - 1px);
}*/
/*影片全螢幕時不上移*/
/*#main-window[inFullscreen] #navigator-toolbox {
  margin-top: 0px !important;
}*/
/*分頁列底色設定*/
/* toolbar#TabsToolbar
{
  -moz-appearance: none !important;
  background-color: #000000 !important;
}*/
#navigator-toolbox {
  margin-top: calc(var(--hide-toolbar-top) + 4px);
  /*transform: translate(0, var(--hide-toolbar-top));*/
  transition: all var(--hide-toolbar-dur) ease-in var(--hide-toolbar-close);
}
#navigator-toolbox:hover, #navigator-toolbox:focus-within {
  margin-top: 0;
  /*transform: translate(0, 0);*/
  transition: all var(--hide-toolbar-dur) ease-out var(--hide-toolbar-open);
}
