[Desktop Entry]
Version=1.0
Name=cinelerra
Comment=A non-linear audio & video authoring tool
Exec=cinelerra %F
Icon=cinelerra-cv.xpm
Type=Application
Terminal=false
Categories=AudioVideo;Video;AudioVideoEditing;