[Desktop Entry]
Version=1.0
Type=Application
Name=Bluetooth restart
Comment=restart bluetooth using script bluetooth-restart
Exec=/home/gholk/.local/bin/bluetooth-restart
Icon=network-wireless
Terminal=true
